<Configuration>
    <Server
        maxThreads="20"
        port="9000"/>
    <Plugin
        anonymizerID="CollectionDicomAnonymizer"
        anonymizerInputID="CollectionAnonymizerInput"
        anonymizerStorageID="CollectionAnonymizerStorage"
        class="edu.uams.tcia.TCIAPlugin"
        exportInputID="CollectionExportInput"
        exportManifestLogID="CollectionManifestLog"
        exportOutputID="CollectionExportOutput"
        id="Collection"
        importInputID="CollectionImportInput"
        importStorageID="CollectionImportStorage"
        name="CollectionTCIAPlugin"
        root="Collection/TCIAplugin"/>
    <Plugin
        class="edu.uams.tcia.ManifestLogPlugin"
        id="CollectionManifestLog"
        name="CollectionManifestLog"
        root="Collection/ManifestLog"/>
    <Pipeline
        name="CollectionImport"
        root="Collection/import">
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            id="CollectionImportInput"
            import="roots/DirectoryImportService/import"
            interval="4000"
            name="DirectoryImportService"
            quarantine="quarantines/DirectoryImportService"
            root="roots/DirectoryImportService"/>
        <DicomImportService
            class="org.rsna.ctp.stdstages.DicomImportService"
            logConnections="no"
            name="DicomImportService"
            port="104"
            quarantine="quarantines/DicomImportService"
            root="roots/DicomImportService"/>
        <DirectoryStorageService
            acceptDuplicates="yes"
            class="org.rsna.ctp.stdstages.DirectoryStorageService"
            defaultString=""
            id="CollectionImportStorage"
            logDuplicates="no"
            name="DirectoryStorageService"
            quarantine="quarantines/DirectoryStorageService"
            root="roots/DirectoryStorageService"
            setStandardExtensions="no"
            structure="(0010,0020)-(0010,0010)/(0008,0020)/Series(0020,0011)"
            whitespaceReplacement="_"/>
    </Pipeline>
    <Pipeline
        name="CollectionAnonymization"
        root="Collection/anonymization">
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            id="CollectionAnonymizerInput"
            import="roots/DirectoryImportService/import"
            interval="4000"
            name="DirectoryImportService"
            quarantine="quarantines/DirectoryImportService"
            root="roots/DirectoryImportService"/>
        <ObjectCache
            class="org.rsna.ctp.stdstages.ObjectCache"
            id="CollectionObjectCache"
            name="ObjectCache"
            root="roots/ObjectCache"/>
        <DicomAnonymizer
            class="org.rsna.ctp.stdstages.DicomAnonymizer"
            id="CollectionDicomAnonymizer"
            lookupTable="scripts/LookupTable.properties"
            name="DicomAnonymizer"
            quarantine="quarantines/DicomAnonymizer"
            root="roots/DicomAnonymizer"
            script="scripts/DicomAnonymizer.script"/>
        <ManifestLogger
            cacheID="CollectionObjectCache"
            class="edu.uams.tcia.ManifestLogger"
            id="CollectionManifestLogger"
            manifestLogID="CollectionManifestLog"
            name="ManifestLogger"
            root="roots/CollectionManifestLogger"/>
        <DirectoryStorageService
            acceptDuplicates="yes"
            cacheID="CollectionObjectCache"
            class="org.rsna.ctp.stdstages.DirectoryStorageService"
            defaultString=""
            id="CollectionAnonymizerStorage"
            logDuplicates="no"
            name="DirectoryStorageService"
            quarantine="quarantines/DirectoryStorageService"
            root="roots/DirectoryStorageService"
            setStandardExtensions="no"
            structure="(0010,0020)-(0010,0010)/(0008,0020)/Series(0020,0011)"
            whitespaceReplacement="_"/>
    </Pipeline>
    <Pipeline
        name="CollectionExport"
        root="Collection/export">
        <DirectoryImportService
            class="org.rsna.ctp.stdstages.DirectoryImportService"
            id="CollectionExportInput"
            import="roots/DirectoryImportService/import"
            interval="4000"
            name="DirectoryImportService"
            quarantine="quarantines/DirectoryImportService"
            root="roots/DirectoryImportService"/>
        <HttpExportService
            class="org.rsna.ctp.stdstages.HttpExportService"
            id="CollectionExportOutput"
            name="HttpExportService"
            quarantine="quarantines/HttpExportService"
            root="roots/HttpExportService"
            sendDigestHeader="no"
            url="http://127.0.0.1:7777"/>
    </Pipeline>
    <Pipeline
        name="DummyExportReceiver"
        root="Collection/dummy/dicom">
        <HttpImportService
            class="org.rsna.ctp.stdstages.HttpImportService"
            logConnections="no"
            name="HttpImportService"
            port="7777"
            quarantine="quarantines/HttpImportService"
            root="roots/HttpImportService"/>
    </Pipeline>
    <Pipeline
        name="DummyManifestReceiver"
        root="Collection/dummy/manifest">
        <HttpImportService
            class="org.rsna.ctp.stdstages.HttpImportService"
            logConnections="no"
            name="HttpImportService"
            port="7778"
            quarantine="quarantines/HttpImportService"
            root="roots/HttpImportService"/>
    </Pipeline>
</Configuration>
